federation: MyFed
fqdn: sp.example.com
fedsigner_cert: fedsigner.crt.pem

entity_id: https://{{ fqdn | default('default_fqdn') }}/shibboleth

support_first_name: Supp
support_last_name: Orter
support_email: support@example.net
admin_first_name: Ad
admin_last_name: Min
admin_email: admin@example.net
technical_first_name: Tech
technical_last_name: Nical
technical_email: eduid@example.net

default_ds_url: http://cds.example.net:8080/discovery/WAYF
show_attribute_values: false
metadata_url: https://registry.example.net/signedmetadata/federation/{{ federation }}/metadata.xml
metadata_file: metadata.xml

